<footer>
    <div class="footer">
        <div class="footer-left w-1/2">
            <h1>Thesunpower</h1>
        </div>
        <div class="footer-right w-1/2">
            <div class="footer-right-content">
                <a href=""><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>
                    thesunpower.fb.com</a>
                <a href=""><i class="fa-brands fa-tiktok" style="color: #ffffff;"></i> thesunpower</a>
                <a href=""><i class="fa-solid fa-phone" style="color: #ffffff;"></i> 0876389407</a>
                <a href=""><i class="fa-solid fa-envelope" style="color: #ffffff;"></i> info@thesunpower.com</a>
            </div>
        </div>
    </div>
</footer>
