<footer>
    <div class="footer" style="max-width: 1366px; margin: auto">
        <div class="footer-left w-1/2">
            <h1>thegreenpower</h1>
        </div>
        <div class="footer-right w-1/2">
            <div class="footer-right-content">
                <a href=""><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i><span>thegreenpower.fb.com</span></a>
                <a href=""><i class="fa-brands fa-tiktok" style="color: #ffffff;"></i><span>thegreenpower</span></a>
                <a href=""><i class="fa-solid fa-phone" style="color: #ffffff;"></i><span>0876389407</span></a>
                <a href=""><i class="fa-solid fa-envelope" style="color: #ffffff;"></i><span>info@thegreenpower.com</span></a>
            </div>
        </div>
    </div>
</footer>
