<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Sun Power</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- axios  -->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"
    integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
    <link href="/assets/style.css" rel="stylesheet">
    <meta name="description"
        content="The Green Power cung cấp công cụ hỗ trợ tính công suất, loại, giá lắp đặt hệ thống điện mặt trời hoà lưới và lưu trữ dựa vào hoá đơn tiền điện. Cập nhật liên tục tin tức về điện mặt trời, chính sách điện mặt trời mới và các đơn vị lắp đặt điện mặt trời uy tín trên toàn quốc">
</head>

<body>
    <div id="root">
        <%- include('header'); -%>
            <section class="carousel flex justify-end items-end">
                <div class="carousel-content flex items-center">
                    <div class="carousel-content-detail">
                        <span class="carousel-content-title" style="color: #fff;">Năng lượng mới</span>
                        <span class="carousel-content-title" style="color: rgb(75, 255, 153);">Thế giới mới</span>
                    </div>
                </div>
                <img class="carousel-content-image" src="/assets/img/image1.png" alt="năng lượng mặt trời, năng lượng xanh">
            </section>
            <section class="detail">
                <div class="detail-background-top">
                </div>
                <div class="detail-background-bot">
                </div>
                <div class="justify-items-center" style="
        width: 85%;
        border-radius: 2.5rem;
        padding: 0.35rem 0;
        background-image: linear-gradient(to right,rgba(255, 255, 255, 0.942),rgba(15, 47, 167, 1));
        position: absolute;
        top: -0.35rem;
        "></div>
                <div class="detail-content" style="max-width: 1366px; margin: auto">
                    <div class="detail-content-container">
                        <div class="detail-content-card">
                            <div class="detail-content-card-items">
                                <div class="flex justify-center">
                                    <h1 class="detail-content-card-title">Công cụ tính công suất tiêu thụ mặt trời
                                    </h1>
                                </div>
                                <div class="detail-content-card-body">
                                    <div class="detail-content-card-body-items">
                                        <span>(*) Công cụ bắt buộc nhập</span>
                                    </div>
                                    <div class="detail-content-card-body-items"  onclick="loadInput()">
                                        <h2 class="content-title">
                                            <i class="fa-solid fa-play"></i>
                                            Số tiền điện hoặc số kilo điện (*)
                                        </h2 class="content-title">
                                        <div class="content-line-height flex flex-col" id="formInputNumberElectric"
                                            onclick="loadInput()">
                                            <div>
                                                <label class="container">
                                                    <input id="selectElectricMoney" type="radio" checked
                                                        name="electricNumber">
                                                    <span class="checkmark">Số tiền điện</span>
                                                </label>
                                                <div id="InputElectricMoney" class="form-input">
                                                    <div class="form-input-custom" style="width: 96%;">
                                                        <input class="input" type="text" placeholder="Nhập số tiền điện">
                                                        <span class="input-sign">đ</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="container">
                                                    <input id="selectElectricKilo" type="radio" name="electricNumber">
                                                    <span class="checkmark">Số kilo điện</span>
                                                </label>
                                                <div id="InputElectricKilo" class="form-input hide">
                                                    <div class="form-input-custom" style="width: 96%;">
                                                        <input class="input" type="text" placeholder="Nhập số kilo điện">
                                                        <span class="input-sign">kW</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail-content-card-body-items">
                                        <h2 class="content-title">
                                            <i class="fa-solid fa-play"></i>
                                            Loại tiêu thụ điện (*)
                                        </h2 class="content-title">
                                        <div class="flex flex-col content-line-height">
                                            <label class="container">
                                                <input type="radio" checked name="TypeOfUser">
                                                <span class="checkmark">Hộ gia đình, Hộ kinh doanh, Cơ sở sản
                                                    xuất</span>
                                            </label>
                                            <label class="container">
                                                <input type="radio" name="TypeOfUser">
                                                <span class="checkmark">Bệnh viện, Nhà trẻ, Mẫu giáo, Trường phổ
                                                    thông</span>
                                            </label>
                                            <label class="container">
                                                <input type="radio" name="TypeOfUser">
                                                <span class="checkmark">Chiếu sáng công cộng, Đơn vị hành chính sự
                                                    nghiệp</span>
                                            </label>
                                            <label class="container">
                                                <input type="radio" name="TypeOfUser">
                                                <span class="checkmark">Công ty kinh doanh, Công ty sản xuất</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="detail-content-card-body-items" >
                                        <h2 class="content-title">
                                            <i class="fa-solid fa-play"></i>
                                            Loại mạng điện (*)
                                        </h2 class="content-title">
                                        <div class="flex content-line-height" id="typeOfElectric"
                                            onclick="loadOption()">
                                            <div class="flex flex-col" style="width: 20%;">
                                                <div class="container">
                                                    <span class="electric-type-option">1 pha</span>
                                                </div>
                                                <label class="container">
                                                    <input type="radio" checked name="TypeOfElectric">
                                                    <span class="checkmark">220v</span>
                                                </label>
                                            </div>
                                            <div style="width: 25%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;">
                                                <span style="border: 1px solid #ebebeb;
                                                border-radius: 0.5rem;
                                                height: 80%;"></span>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="container">
                                                    <span class="electric-type-option">3 pha</span>
                                                </div>

                                                <div class="container">
                                                    <label>
                                                        <input type="radio" name="TypeOfElectric" id="threePhasePower">
                                                        <span class="checkmark">3 pha kinh doanh</span>
                                                    </label>
                                                    <div class="hidden justify-center" id="optionThreePhasePower">
                                                        <div class="demand-product-content-item-option"
                                                            style="width: 80%;">
                                                            <select class="select" name="optionThreePhasePower" id="Option">
                                                                <option class="select-item" value="option1">380v</option>
                                                                <option class="select-item" value="option2">Từ 110kV trở lên</option>
                                                                <option class="select-item" value="option3">Từ 22kV đến dưới 110kV</option>
                                                                <option class="select-item" value="option4">Từ 6kV đến dưới 22kV</option>
                                                                <option class="select-item" value="option5">Dưới 6kV</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <label>
                                                        <input type="radio" name="TypeOfElectric"
                                                            id="threePhasePowerProduction">
                                                        <span class="checkmark">3 pha sản xuất</span>
                                                    </label>
                                                    <div class="hidden justify-center" id="optionThreePhasePowerProduction">
                                                        <div class="demand-product-content-item-option"
                                                            style="width: 80%;">
                                                            <select class="select" name="optionThreePhasePower" id="Option">
                                                                <option class="select-item" value="option1">380v</option>
                                                                <option class="select-item" value="option2">Từ 110kV trở lên</option>
                                                                <option class="select-item" value="option3">Từ 22kV đến dưới 110kV</option>
                                                                <option class="select-item" value="option4">Từ 6kV đến dưới 22kV</option>
                                                                <option class="select-item" value="option5">Dưới 6kV</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail-content-card-body-items">
                                        <div class="electric-usage-demand">
                                            <div class="electric-usage-demand-content">
                                                <div class="flex justify-between">
                                                    <h2 class="content-title">
                                                        <i class="fa-solid fa-play"></i>
                                                        Nhu cầu sử dụng điện
                                                    </h2 class="content-title">
                                                    <div>
                                                        <button id="btnCollapseDemand" onclick="collapseDemand()">Rút
                                                            gọn</button>
                                                        <i class="fa-solid fa-angle-up" id="iconAngleUpDemand"></i>
                                                    </div>
                                                </div>
                                                <div id="electricUsageDemand">
                                                    <div class="electric-usage-demand-content-body">
                                                        <div class="flex">
                                                            <div class="content-line-height">
                                                                <span>Ban ngày</span>
                                                                <div class="form-input">
                                                                    <div class="form-input-custom">
                                                                        <input class="input" type="text" placeholder="Nhập %">
                                                                        <span class="input-sign">%</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="width: 15%;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;">
                                                                <span style="border: 1px solid #dfdfdf;
                                                            border-radius: 0.3rem;
                                                            height: 60%;"></span>
                                                            </div>
                                                            <div class="content-line-height">
                                                                <span>Ban đêm</span>
                                                                <div class="form-input">
                                                                    <div class="form-input-custom">
                                                                        <input class="input" type="text" placeholder="Nhập %">
                                                                        <span class="input-sign">%</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="flex">
                                                            <div class="content-line-height">
                                                                <span>Giờ cao điểm</span>
                                                                <div class="form-input">
                                                                    <div class="form-input-custom">
                                                                        <input class="input" type="text" placeholder="Nhập %">
                                                                        <span class="input-sign">%</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="width: 15%;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;">
                                                                <span style="border: 1px solid #dfdfdf;
                                                            border-radius: 0.3rem;
                                                            height: 60%;"></span>
                                                            </div>
                                                            <div class="content-line-height">
                                                                <span>Giờ thấp điểm</span>
                                                                <div class="form-input">
                                                                    <div class="form-input-custom">
                                                                        <input class="input" type="text" placeholder="Nhập %">
                                                                        <span class="input-sign">%</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="width: 15%;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;">
                                                                <span style="border: 1px solid #dfdfdf;
                                                        border-radius: 0.3rem;
                                                        height: 60%;"></span>
                                                            </div>
                                                            <div class="content-line-height">
                                                                <span>Giờ bình thường</span>
                                                                <div class="form-input">
                                                                    <div class="form-input-custom">
                                                                        <input class="input" type="text" placeholder="Nhập %">
                                                                        <span class="input-sign">%</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail-content-card-body-items">
                                        <div class="electric-usage-habit">
                                            <div class="electric-usage-habit-content">
                                                <div class="flex justify-between">
                                                    <h2 class="content-title">
                                                        <i class="fa-solid fa-play"></i>
                                                        Thói quen sử dụng điện
                                                    </h2 class="content-title">
                                                    <div>
                                                        <button id="btnCollapseHabit" onclick="collapseHabit()">Rút
                                                            gọn</button>
                                                        <i class="fa-solid fa-angle-up" id="iconAngleUpHabit"></i>
                                                    </div>
                                                </div>
                                                <div id="electricUsageHabit">
                                                    <div class="electric-usage-habit-content-desc ">
                                                        <div class="content-line-height">
                                                            <span>Mô tả</span>
                                                            <div class="form-input">
                                                                <div class="form-input-custom">
                                                                    <textarea class="input-textarea" name="desc" id="Desc" cols="30" rows="5"
                                                                        placeholder="Nhập mô tả.                                        
Ví dụ (Sử dụng máy lạnh nhiều vào ban ngày ...)"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail-content-card-body-items">
                                        <button id="BtnCapacityCalculation">Tính công suất</button>
                                    </div>
                                    <div class="flex justify-center detail-content-card-body-items">
                                        <div class="detail-content-card-title">Kết quả tính công suất tiêu thụ mặt trời
                                        </div>
                                    </div>
                                    <div class="flex justify-center detail-content-card-body-items">
                                        <p>Điện năng tiêu thụ: <span style="font-weight: bold;">200 kWh</span></p>
                                    </div>
                                    <hr class="detail-content-card-body-items">
                                    <div class="detail-content-card-body-items">
                                        <h2 class="content-title" style="font-weight: bold">Hệ thống điện mặt trời đề xuất
                                        </h2 class="content-title">
                                        <div style="margin: 2rem;"></div>
                                        <div class="result-table content-line-height">
                                            <table class="table">
                                                <tr>
                                                    <th class="table-head" colspan="2">Hệ thống hòa lưới bán tải <span>200 kWh</span></th>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">Sản lượng ĐMT phát tối đa/1 tháng </td>
                                                    <td class="table-data"><span>200 kWh</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">Số tiền tiết kiệm/1 tháng </td>
                                                    <td class="table-data"><span>200.000 VND</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">Thời gian hòa vốn </td>
                                                    <td class="table-data"><span>12 tháng</span></td>
                                                </tr>
                                                <tr>
                                                    <th class="table-head" colspan="2">Hệ thống hòa lưới có lưu trữ <span>200 kWp</span> +
                                                        lưu
                                                        trữ
                                                        <span>200 kW</span>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">Sản lượng ĐMT phát tối đa/1 tháng </td>
                                                    <td class="table-data"><span>200 kWh</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">Số tiền tiết kiệm/1 tháng </td>
                                                    <td class="table-data"><span>200.000 VND</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">Thời gian hòa vốn </td>
                                                    <td class="table-data"><span>12 tháng</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <hr class="detail-content-card-body-items">
                                    <div class="detail-content-card-body-items flex justify-center">
                                        <div class="demand-product">
                                            <div class="flex justify-center content-line-height">
                                                <div class="detail-content-card-title">Nhu cầu sản phẩm</div>
                                            </div>
                                            <div class="flex justify-center content-line-height">
                                                <div class="demand-product-content">
                                                    <div class="demand-product-content-item">
                                                        <p>Loại hệ thống</p>
                                                        <div class="demand-product-content-item-option">
                                                            <select class="select" name="typeSystem" id="TypeSystem">
                                                                <option class="select-item" value="system1">Bán tải</option>
                                                                <option class="select-item" value="system2">Hoà lưới bám tải + lưu trữ</option>
                                                                <option class="select-item" value="system3">Độc lập</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="demand-product-content-item">
                                                        <p>Khu vực</p>
                                                        <div class="demand-product-content-item-option">
                                                            <select class="select" name="area" id="Area">
                                                                <!-- <option class="select-item" value="area1">TPHCM</option> -->
                                                                <!-- <option class="select-item" value="area2">Đồng Nai</option> -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="demand-product-content-item">
                                                        <p>Khoảng giá</p>
                                                        <div class="demand-product-content-item-option">
                                                            <select class="select" name="Price" id="Price">
                                                                <option class="select-item" value="price1">20 triệu</option>
                                                                <option class="select-item" value="price2">50 trệu</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex justify-center content-line-height">
                                                <button id="BtnApplyDemandProduct">Áp dụng</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail-content-card-body-items">
                                        <div>
                                            <h2 class="content-title" style="font-weight: bold">Công ty đề xuất</h2 class="content-title">
                                        </div>
                                        <div style="margin: 2rem;"></div>
                                        <div class="suggest-table">
                                            <table class="table">
                                                <tr>
                                                    <th class="table-head">TÊN CÔNG TY</th>
                                                    <th class="table-head">LOẠI HỆ THỐNG</th>
                                                    <th class="table-head">KHU VỰC</th>
                                                    <th class="table-head">THÀNH GIÁ</th>
                                                    <th class="table-head">WEBSITE</th>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">ABC công ty</td>
                                                    <td class="table-data">Bán tải</td>
                                                    <td class="table-data">TPHCM</td>
                                                    <td class="table-data">30.000.000 VNĐ</td>
                                                    <td class="table-data"><a class="link" href="#">abc.com.vn</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">ABC công ty</td>
                                                    <td class="table-data">Bán tải</td>
                                                    <td class="table-data">TPHCM</td>
                                                    <td class="table-data">30.000.000 VNĐ</td>
                                                    <td class="table-data"><a class="link" href="#">abc.com.vn</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">ABC công ty</td>
                                                    <td class="table-data">Bán tải</td>
                                                    <td class="table-data">TPHCM</td>
                                                    <td class="table-data">30.000.000 VNĐ</td>
                                                    <td class="table-data"><a class="link" href="#">abc.com.vn</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">ABC công ty</td>
                                                    <td class="table-data">Bán tải</td>
                                                    <td class="table-data">TPHCM</td>
                                                    <td class="table-data">30.000.000 VNĐ</td>
                                                    <td class="table-data"><a class="link" href="#">abc.com.vn</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">ABC công ty</td>
                                                    <td class="table-data">Bán tải</td>
                                                    <td class="table-data">TPHCM</td>
                                                    <td class="table-data">30.000.000 VNĐ</td>
                                                    <td class="table-data"><a class="link" href="#">abc.com.vn</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-data">ABC công ty</td>
                                                    <td class="table-data">Bán tải</td>
                                                    <td class="table-data">TPHCM</td>
                                                    <td class="table-data">30.000.000 VNĐ</td>
                                                    <td class="table-data"><a class="link" href="#">abc.com.vn</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div style="margin: 3rem;">
                                            <div class="transfer-page">
                                                <button class="transfer-page-btn">
                                                    <i class="fa-solid fa-chevron-left"></i>
                                                </button>
                                                <button class="transfer-page-btn active">1</button>
                                                <button class="transfer-page-btn">2</button>
                                                <button class="transfer-page-btn">3</button>
                                                <div style="padding: 1rem;">...</div>
                                                <button class="transfer-page-btn">
                                                    <i class="fa-solid fa-chevron-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-card detail-content-card-body-items">
                                        <div class="contact-card-content">
                                            <h2 class="content-title">Liên hệ với chúng tôi để nhận hỗ trợ</h2 class="content-title">
                                            <div class="content-line-height">
                                                <div class="flex justify-between">
                                                    <div class="contact-input">
                                                        <span class="contact-input-title">Họ và tên</span>
                                                        <div class="form-input">
                                                            <div class="form-input-custom">
                                                                <input class="input" type="text" placeholder="Nhập Họ và tên">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="contact-input">
                                                        <span class="contact-input-title">Địa chỉ</span>
                                                        <div class="form-input">
                                                            <div class="form-input-custom">
                                                                <input class="input" type="text" placeholder="Nhập Địa chỉ">
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex justify-between">
                                                    <div class="contact-input">
                                                        <span class="contact-input-title">Số điện thoại</span>
                                                        <div class="form-input">
                                                            <div class="form-input-custom">
                                                                <input class="input" type="text" placeholder="Nhập Số điện thoại">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="contact-input">
                                                        <span class="contact-input-title">Mô tả yêu cầu</span>
                                                        <div class="form-input">
                                                            <div class="form-input-custom">
                                                                <input class="input" type="text" placeholder="Nhập mô tả yêu cầu">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="BtnSendContact">Nhận tư vấn và báo giá</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin: 2.5rem;"></div>
                        <div class="detail-content-info">
                            <div class="detail-content-info-item">
                                <div class="detail-content-info-item-left w-1/2">
                                    <div class="detail-content-info-item-left-background">
                                        <!-- <img src="assets/img/image3.png" alt=""> -->
                                        <div class="background-image3"></div>
                                    </div>
                                </div>
                                <div class="detail-content-info-item-right w-1/2">
                                    <div class="flex flex-col">
                                        <span class="content-title" style="color: #fff;">Năng lượng mới</span>
                                        <span class="content-title" style="color: rgb(75, 255, 153);">Thế giới mới</span>
                                    </div>
                                    <div style="margin: 2.5rem;"></div>
                                    <div class="flex justify-between">
                                        <div class="w-2/5" style="color: #fff;">
                                            <p>Thegreenpower là một công cụ giúp người dùng tính toán được công suất hệ
                                                thống điện mặt trời dựa trên hóa đơn tiền điện và thói quen sử dụng
                                                điện.
                                                Ngoài ra chúng tôi còn có thể giúp người dùng ước chừng được chi phí lắp
                                                đặt, nhận được báo giá và sự tư vấn kĩ càng từ các công ty điện mặt trời
                                                trong khu vực đang sinh sống hoặc trên toàn quốc.</p>
                                        </div>
                                        <div style="width: 10%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;">
                                            <span style="border: 0.1px solid #00ddfa6b;
                                                border-radius: 0.5rem;
                                                height: 100%;"></span>
                                        </div>
                                        <div class="w-2/5" style="color: #fff;">
                                            <p>Chúng tôi kết nối người dùng với công ty điện mặt trời trong khu vực với
                                                mục
                                                đích mang lại sự lựa chọn phù hợp nhất cho khách hàng, sự tư vấn tận
                                                tình và
                                                dịch vụ tốt nhất từ các công ty. Các công ty đối tác của chúng tôi cam
                                                đoan
                                                thông tin cung cấp đến khách hàng là đúng sự thật.</p>
                                        </div >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('footer'); -%>
    </div>
    <script src="/assets/main.js"></script>
</body>

</html>